.product-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-popup .popup-card {
  background-color: var(--secondary-color);
  width: 65%;
  padding: 30px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  position: relative;
}
.product-popup .popup-card .close-icon {
  color: var(--primary-color);
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-popup .popup-card .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  padding: 0 20px;
  max-width: 280px;
  min-height: 300px;
  max-height: 300px;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.product-popup .popup-card .left img {
  height: 200px;

  width: auto;
  max-width: 100%;
}
.product-popup .popup-card .left h3 {
  font-size: var(--heading-four);
  text-align: center;
  line-height: var(--heading-line-height);
  color: var(--secondary-color);
}

.product-popup .popup-card .right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-popup .popup-card .right h2 {
  font-size: var(--heading-three);
  color: var(--primary-color);
}
.product-popup .popup-card .right .popup-description {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
  min-height: 200px;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}
@media (max-width: 900px) {
  .product-popup .popup-card {
    width: 95%;
    height: 80vh;
    padding: 20px;
    flex-direction: column;
  }
  .product-popup .popup-card .close-icon {
    top: 2px;
    right: 2px;
  }
  .product-popup .popup-card .left {
    width: 100%;
    max-width: 280px;
    min-height: 150px;
  }
  .product-popup .popup-card .left img {
    height: 100px;
    width: auto;
  }

  .product-popup .popup-card .right {
    width: 100%;
  }
}
