.privacyPage {
  width: 100%;
  padding: 20px var(--left-space);
  margin-top: 90px;
}

.privacyLayout {
  display: flex;
  gap: 10px;
}
@media (max-width: 900px) {
  .privacyPage {
  margin-top: 70px;
}
  .privacyLayout {
    flex-direction: column;
  }
}
