.certfied-products {
  position: relative;
  width: 100%;
  padding: 40px 10%;
  height: 500px;
  background-color: var(--secondary-color);
  overflow: hidden; /* ensures bg doesn’t overflow the section */
}

.certfied-products .api-bg-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background: url("/api-bg.svg") center no-repeat;
  background-size: contain;
  z-index: 0;
}

/* Everything else sits above the background */
.certfied-products h2,
.certfied-products .description,
.certfied-products .api-img {
  position: relative;
  z-index: 1;
}

.certfied-products h2 {
  font-size: var(--heading-two);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.certfied-products h2 span {
  color: var(--primary-color);
}

.certfied-products .description {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
  width: 70%;
}

.certfied-products .api-img {
  display: flex;
  justify-self: center;
  height: auto;
  width: 300px;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .certfied-products {
    padding: 20px 5%;
    height: fit-content;
  }

  .certfied-products .api-bg-img {
    display: none;
  }
  .certfied-products .description {
  width: 100%;
}

.certfied-products .api-img {
  width: 60%;
  margin-top: 20px;
}
}
