.history-cards-grid {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.history-cards-grid .history-each-card {
  border-radius: 8px;
  text-align: center;
  width: 13%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.history-cards-grid .history-each-card .history-title {
  font-size: 14px;
  line-height: var(--heading-line-height);
  margin-bottom: 10px;
  font-weight: 500;
}

.history-cards-grid .history-each-card .history-title span {
  color: var(--primary-color);
  display: block;
  font-weight: var(--bold-font-weight);
  font-size: var(--default-p-size);
  line-height: var(--heading-line-height);
}

.history-cards-grid .history-each-card .img-cont {
  width: 100%;
  height: 130px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image fills container equally */
.history-cards-grid .history-each-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}



/* Responsive */
@media (max-width: 900px) {
  .history-cards-grid {
    gap: 20px;
  }

  .history-cards-grid .history-each-card {
    flex: 0 0 120px;
  }

  .history-cards-grid .history-each-card img {
    height: 120px;
  }
}