.our-values {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.our-values .values-img {
  width: 100%;
  max-width: 1200px;
}
.our-values h2 {
  text-align: center;
  font-size: var(--heading-two);
}
.our-values h2 span {
  color: var(--primary-color);
}
.our-values p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 900px) {
  .our-values {
    gap: 10px;
    padding: 20px var(--left-space);
  }
  .our-values .values-img {
    width: 100%;
  }

  .our-values p {
    width: 100%;
  }
}
