.header-area {
  height: 90px;
  width: 100%;
  padding: 0 var(--left-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: #ffffffc9;
  backdrop-filter: blur(8px);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.03);
}

/* Desktop Left */
.header-area .left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-area .logo {
  height: 60px;
  cursor: pointer;
}
.header-area .left ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-area .left ul li {
  list-style: none;
  font-size: var(--default-p-size);
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}
.header-area .left ul li:hover {
  color: var(--primary-color);
} /* Right */
.header-area .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-area .right a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--primary-color);
}
.header-area .right a span {
  width: 28px;
  height: 28px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-area .right a span svg {
  font-size: 14px;
}
.menu-icon {
  display: none;
}
.maindropdown-area {
  width: 100%;
  height: 450px;
  position: fixed;
  top: 50px;
  z-index: 60;
  overflow: hidden;
}
.maindropdown-area-flex {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.maindropdown-area .left {
  width: 15%;
  height: calc(90vh - 111px);
}
.maindropdown-area .right {
  width: 70%;
  height: calc(90vh - 111px);
}
.maindropdown-area .center {
  width: 15%;
  height: 300px;
  padding-top: 40px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: right 0.3s ease;
  padding: 80px 20px 20px;
  z-index: 30;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.03);
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

/* Mobile Services Dropdown */
.mobile-services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* Submenu container */
.mobile-submenu {
  margin-top: 5px;
  list-style: none; 
}


/* must be placed AFTER */
.mobile-submenu > li {
  padding: 10px 0 10px 25px !important;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}





.mobile-submenu > li:last-child {
  border-bottom: none;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 30;
}

@media (max-width: 900px) {
  .header-area {
    width: 100%;
    height: 70px;
    padding: 0 15px;
  }

  .header-area .left ul {
    display: none !important;
  }

  .header-area .logo {
    height: 45px;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    flex-shrink: 0;
    color: var(--primary-color);
  }

  .header-area .right a {
    display: none;
  }
}
