.contact-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 40px 10%;
  background-color: var(--secondary-color);
}

/* Left Form Card */
.contact-form-card {
  background-color: var(--secondary-color);
  padding: 30px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form-card h2 {
  font-size: var(--heading-two);
  line-height: var(--heading-line-height);
}

.contact-form-card p {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.contact-form-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.form-group label {
  font-size: var(--default-p-size);
  font-weight: 500;
}

.contact-form-card input,
.contact-form-card textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: var(--default-p-size);
  background-color: #fafafc;
  outline: none;
}
.contact-form-card input:focus-within,
.contact-form-card textarea:focus-within {
  border: 1px solid var(--primary-color);
}
.contact-form-card input::placeholder,
.contact-form-card textarea::placeholder {
  color: rgb(190, 186, 186);
  font-size: 14px;
}
.radio-group-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* fill evenly */
  gap: 10px;
  width: 100%;
  margin-top: 5px;
}

.radio-element {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.radio-element:hover .radio-wrapper {
  color: var(--primary-color);
}

.radio-element input {
  accent-color: var(--primary-color);
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.radio-wrapper {
  cursor: pointer;
  user-select: none;
  font-weight: 400 !important;
  font-size: var(--default-p-size);
}

.error-msg {
  color: red;
  font-size: 10px;
}

.contact-form-card textarea {
  min-height: 100px;
  resize: none;
}

.contact-form-card button {
  width: fit-content;
  background-color: var(--primary-color);
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.contact-form-card button:hover {
  background-color: transparent;
}

/* Right Info Section */
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-circle {
  background-color: #fafafc;
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-circle svg {
  color: var(--primary-color);
  flex-shrink: 0;
  font-size: 24px;
}

.info-item strong {
  display: block;
}

.info-item a {
  font-size: var(--default-p-size);
  text-decoration: none;
  color: var(--text-color);
}

.contact-logo {
  height: 200px;
  width: auto;
  margin-top: 60px;
}

@media (max-width: 900px) {
  .contact-section {
    padding: 20px 5%;
    flex-direction: column;
    gap: 20px;
  }

  /* Left Form Card */
  .contact-form-card {
    padding: 20px 10px;
    width: 100%;
  }
  .form-row {
    flex-direction: column;
    gap: 15px;
  }
  .contact-info {
    width: 100%;
    gap: 10px;
  }
  .icon-circle {
    width: 40px;
    height: 40px;
  }
  .icon-circle svg {
    font-size: 16px;
  }
  .contact-logo {
    height: 150px;
    margin-top: 10px;
    display: flex;
    align-self: center;
  }
}
